{% extends 'base.html' %}

{% block content %}
  <div class="rtn-btn">
    <a href="{{ url_for('queensHP') }}"><</a>
  </div>
  <div class="title">
    <h1>Queen's University</h1>
    <h1>Courses</h1>
  </div>

<div class="msg-bd">
<h1>New Post</h1>
{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
{% endfor %}
<form method="post">
    <br>
    <label for="title">Choose from the following courses:</label>
    <select name="title" value="{{ request.form['title'] }}" id="titleInput">
        <option value="COMM 101">COMM 101</option>
        <option value="COMM 111">COMM 111</option>
        <option value="COMM 112">COMM 112</option>
        <option value="COMM 151">COMM 151</option>
        <option value="COMM 161">COMM 161</option>
        <option value="COMM 162">COMM 162</option>
        <option value="COMM 171">COMM 171</option>
        <option value="COMM 172">COMM 172</option>
    </select>
    <br>
    <br>
    <textarea name="content"
            placeholder="Post Content"
            rows="15"
            cols="70"
            id="contentInput">{{ request.form['content'] }}</textarea>
    <br>
    <div class="rating">

        <input type="radio" id="star5" name="rating" value="11111" />
        <label for="star5" title="text">{{ request.form['rating'] }}</label>
  
        <input type="radio" id="star4" name="rating" value="1111" />
        <label for="star4" title="text">{{ request.form['rating'] }}</label>
  
        <input type="radio" id="star3" name="rating" value="111" />
        <label for="star3" title="text">{{ request.form['rating'] }}</label>
  
        <input type="radio" id="star2" name="rating" value="11" />
        <label for="star2" title="text">{{ request.form['rating'] }}</label>
  
        <input type="radio" id="star1" name="rating" value="1" />
        <label for="star1" title="text">{{ request.form['rating'] }}</label>
  
        <input class="rating0" type="radio" id="star0" name="rating" value="" checked="checked" />
        <label class="rating0" id="star0" title="text">{{ request.form['rating'] }}</label>
  
    </div>
  
    <br>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
<br>

<div id="content-IMG">
  <img src="https://smith.queensu.ca/bcom/100/stories/images/open-for-business.jpg" class="ribbon" alt="" />
</div>

<br>
<h1>Course Posts</h1>
    {% for message in queensCourseMessages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
            {% for num in message['rating'] %}
                <span class="fa fa-star checked"></span>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}