{% extends 'base.html' %}

{% block content %}
<div class="rtn-btn">
    <a href="{{ url_for('index') }}"><</a>
</div>
  <div class="title">
    <h1>Queen's University</h1>
  </div>
<br>
<br>
<center>
<div class="dropdown">
    <button>Categories</button>
    <div class="dropdown-options">
      <a href="{{ url_for('queensRes') }}">Residences</a>
      <a href="{{ url_for('queensCourse') }}">Courses</a>
      <a href="{{ url_for('queensFood') }}">Food Options</a>
      <a href="{{ url_for('queensSocial') }}">Social Life</a>
    </div>
</div>
</center>
{% endblock %}
