{% extends 'base.html' %}

{% block content %}
  <div class="rtn-btn">
    <a href="{{ url_for('queensHP') }}"><</a>
  </div>
  <div class="title">
    <h1>Queen's University</h1>
    <h1>Residences</h1>
  </div>

<div class="msg-bd">
  <h1>New Post</h1>
  {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
  {% endfor %}

  <form method="post">
    <br>
    <label for="title">Choose from the following residences:</label>
    <select name="title" value="{{ request.form['title'] }}" id="titleInput">
      <option value="Adelaide Hall">Adelaide Hall</option>
      <option value="Ban Righ Hall">Ban Righ Hall</option>
      <option value="Brant House">Brant House</option>
      <option value="Chown Hall">Chown Hall</option>
      <option value="David C. Smith House">David C. Smith House</option>
      <option value="Endaayaan-Tkanónsote">Endaayaan-Tkanónsote</option>
      <option value="Gordon Brockington House">Gordon Brockington House</option>
      <option value="Harkness Hall">Harkness Hall</option>
      <option value="Jean Royce Hall">Jean Royce Hall</option>
      <option value="Leggett Hall">Leggett Hall</option>
      <option value="Leonard Hall">Leonard Hall</option>
      <option value="McNeill Hall">McNeill Hall</option>
      <option value="Morris Hall">Morris Hall</option>
      <option value="Victoria Hall">Victoria Hall</option>
      <option value="Waldron Tower">Waldron Tower</option>
      <option value="Watts Hall">Watts Hall</option>
      <option value="West Campus">West Campus</option>
    </select>

    <br>
    <br>

    <textarea name="content"
              placeholder="Post Content"
              rows="15"
              cols="70"
              id="contentInput">{{ request.form['content'] }}</textarea>
    <br>
    
    <div class="rating">

      <input type="radio" id="star5" name="rating" value="11111" />
      <label for="star5" title="text">{{ request.form['rating'] }}</label>

      <input type="radio" id="star4" name="rating" value="1111" />
      <label for="star4" title="text">{{ request.form['rating'] }}</label>

      <input type="radio" id="star3" name="rating" value="111" />
      <label for="star3" title="text">{{ request.form['rating'] }}</label>

      <input type="radio" id="star2" name="rating" value="11" />
      <label for="star2" title="text">{{ request.form['rating'] }}</label>

      <input type="radio" id="star1" name="rating" value="1" />
      <label for="star1" title="text">{{ request.form['rating'] }}</label>

      <input class="rating0" type="radio" id="star0" name="rating" value="" checked="checked" />
      <label class="rating0" id="star0" title="text">{{ request.form['rating'] }}</label>

    </div>

    <br>
    <br>
    <br>

    <button type="submit">Submit</button>

  </form>
  <br>

  <div id="content-IMG">
      <img src="https://www.queensu.ca/residences/sites/residencewww/files/uploaded_images/Smith-opening-1024x679.jpg" class="ribbon" alt="" />
  </div>

  <br>

  <h1>Residence Posts</h1>
    {% for message in queensResMessages %}
        <div class='message'>
          <h3>{{ message['title'] }}</h3>
          <p>{{ message['content'] }}</p>
          {% for num in message['rating'] %}
            <span class="fa fa-star checked"></span>
          {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
